<div class="boxed">

	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div id="content-container">

		<!--Page Title-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div id="page-title">
			<h1 class="page-header text-overflow">Inicio</h1>

		</div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!--End page title-->

		<!--Breadcrumb-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<ol class="breadcrumb">
			<li><a href="#">Inicio</a></li>			
		</ol>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!--End breadcrumb-->

		<!--Page content-->
		<!--===================================================-->
		<div id="page-content">
			
			 <table id="demo-dt-basic" >
                                            <thead >
                                                <tr >
                                                    <th>Nº</th> 
                                                    <th>FECHA</th>
                                                    <th>NRO VENTA</th>  
                                                    <th>CLIENTE</th>                                                 
                                                    <th>PRODUCTO</th>
                                                    <th>PRECIO</th>                                                                                                   
                                                    <th>UNIDADES</th>                                                   
                                                    <th>TOTAL</th>                                                   
                                                    <th>OPCIÓN</th>
                                                </tr>
                                            </thead>                   
             </table>
		</div>
		<!--===================================================-->
		<!--End page content-->

	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->	
</div>