<!-- FOOTER -->
		<!--===================================================-->
		<footer id="footer">

			<!-- Visible when footer positions are fixed -->
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<div class="show-fixed pull-right">
				<ul class="footer-list list-inline">
					<li>
						<p class="text-sm">SEO Proggres</p>
						<div class="progress progress-sm progress-light-base">
							<div style="width: 80%" class="progress-bar progress-bar-danger"></div>
						</div>
					</li>

					<li>
						<p class="text-sm">Online Tutorial</p>
						<div class="progress progress-sm progress-light-base">
							<div style="width: 80%" class="progress-bar progress-bar-primary"></div>
						</div>
					</li>
					<li>
						<button class="btn btn-sm btn-dark btn-active-success">Checkout</button>
					</li>
				</ul>
			</div>

			<!-- Visible when footer positions are static -->
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<div class="hide-fixed pull-right pad-rgt">-</div>

			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			<!-- Remove the class name "show-fixed" and "hide-fixed" to make the content always appears. -->
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

			<p class="pad-lft">&#0169; 2015 Empresa X</p>

		</footer>
		<!--===================================================-->
		<!-- END FOOTER -->

		<!-- SCROLL TOP BUTTON -->
		<!--===================================================-->
		<button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
		<!--===================================================-->

	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->

	<!--JAVASCRIPT-->
	<!--=================================================-->
	 <script src="assets/plugins/pace/pace.min.js"></script>

	<!--jQuery [ REQUIRED ]-->
	<script src="assets/js/jquery-2.1.1.min.js"></script>

	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="assets/js/bootstrap.min.js"></script>

	<!--Fast Click [ OPTIONAL ]-->
	<script src="assets/plugins/fast-click/fastclick.min.js"></script>
	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="assets/js/nifty.min.js"></script>

	<!--Switchery [ OPTIONAL ]-->
	<!--<script src="assets/plugins/switchery/switchery.min.js"></script>-->

	<!--Bootstrap Select [ OPTIONAL ]-->
	<!--<script src="assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>-->

	<!--DataTables [ OPTIONAL ]-->
	<script src="assets/plugins/datatables/media/js/jquery.dataTables.js"></script>
	<script src="assets/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
	<script src="assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>

	<!--Demo script [ DEMONSTRATION ]-->
	<!--<script src="assets/js/demo/nifty-demo.min.js"></script>-->
	<script src="assets/plugins/chosen/chosen.jquery.min.js"></script>

	<!--DataTables Sample [ SAMPLE ]-->
	<script src="assets/js/demo/tables-datatables.js"></script>

	
	<!--Bootstrap Wizard [ OPTIONAL ]-->
	<script src="assets/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>


	<!--Bootstrap Validator [ OPTIONAL ]-->
	<script src="assets/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>
	<!--Form Wizard [ SAMPLE ]-->
	<script src="assets/js/demo/form-wizard.js"></script>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- MY REPORTS -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<script type="text/javascript" src="assets/plugins/amcharts/amcharts.js"></script>
	<script type="text/javascript" src="assets/plugins/amcharts/serial.js"></script>
	<script type="text/javascript" src="assets/plugins/amcharts/plugins/export/export.js"></script>
	<link rel="stylesheet" href="assets/plugins/amcharts/plugins/export/export.css">

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- MY SCRIPTS -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<script src="assets/scripts/funciones.js"></script>
	<script src="assets/scripts/script_login.js"></script>
	<script src="assets/scripts/script_pedido.js"></script>
	<script src="assets/scripts/script_venta.js"></script>		
	<script src="assets/scripts/script_producto.js"></script>		
	<script src="assets/scripts/script_usuario.js"></script>		
	<script src="assets/scripts/script_reportes.js"></script>		
	<!--=================================================-->
</body>
</html>