
	<!--JAVASCRIPT-->
	<!--=================================================-->
	<script src="assets/plugins/pace/pace.min.js"></script>
	<!--jQuery [ REQUIRED ]-->
	<script src="assets/js/jquery-2.1.1.min.js"></script>

	<!--BootstrapJS [ RECOMMENDED ]-->
	<script src="assets/js/bootstrap.min.js"></script>

	<!--Fast Click [ OPTIONAL ]-->
	<script src="assets/plugins/fast-click/fastclick.min.js"></script>
	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="assets/js/nifty.min.js"></script>

	<!--Background Image [ DEMONSTRATION ]-->
	<script src="assets/js/demo/bg-images.js"></script>

	<script src="assets/scripts/script_login.js"></script>
</body>
</html>