<div class="boxed">

	<!--CONTENT CONTAINER-->
	<!--===================================================-->
	<div id="content-container">

		<!--Page Title-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<div id="page-title">
			<h1 class="page-header text-overflow">Inicio</h1>

		</div>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!--End page title-->

		<!--Breadcrumb-->
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<ol class="breadcrumb">
			<li><a href="#">Inicio</a></li>			
		</ol>
		<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
		<!--End breadcrumb-->

		<!--Page content-->
		<!--===================================================-->
		<div id="page-content">
			<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">REGISTRO DE PRODUCTOS</h3>
						</div>
						<div id="demo-custom-toolbar2" class="table-toolbar-left">
							<button id="btn-modal-addproducto" class="btn btn-primary btn-labeled fa fa-plus">Nuevo</button>
						</div>
						<div class="panel-body">
							<table id="data-table-producto" class="table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
									<tr>										
										<th>Código</th>
										<th>Nombre</th>
										<th>Descripción</th>
										<th>Precio</th>
										<!-- <th>Imagen</th> -->
										<th>Opción</th>
									</tr>
								</thead>
								<tbody>									
								</tbody>
							</table>
						</div>
					</div>
		</div>
		<!--===================================================-->
		<!--End page content-->

	</div>
	<!--===================================================-->
	<!--END CONTENT CONTAINER-->	
</div>